:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* display: flex; */
  width: 50%;
  margin: auto;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.task-form-wrapper {
  background-color: rgb(110, 49, 130);
}
.task-form{
  display: grid;
}
.task-form input {
  margin: 0.5em;}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
